{erl_opts, [debug_info]}.

{deps, [
    {json_polyfill, "0.1.0"}
]}.

{project_plugins, [rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, #{provider => ex_doc}}]}.

{ex_doc, [
    {extras, [
        {'README.md', #{title => <<"Overview">>}},
        {'LICENSE.md', #{title => <<"License">>}}
    ]},
    {main, <<"README.md">>},
    {homepage_url, <<"https://github.com/bel-framework/bel-json">>},
    {source_url, <<"https://github.com/bel-framework/bel-json">>},
    {api_reference, false}
]}.

{alias, [
    {test,  [{ct, "--verbose"}, eunit]},
    {check, [ct, eunit, dialyzer]}
]}.
